body {
  font-family: 'Comic Sans MS', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("gold2.jpg");
  background-size: cover;
}

header, footer, main, button, p, h1, h2, h3 {
  text-shadow: 2px 2px 4px #000;
  color: #fff;
}

header, footer {
  background-image: url("gold.jpg");
  background-color: #cccccc;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-size: cover;
}

main {
  flex: 1;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 50);
}

#mainComic {
  margin-bottom: 20px;
}

#newComic {
  text-align: center;
}

button {
  background-image: url("gold.jpg");
  background-color: #1E1E1E;
  color: #ffffff;
  margin: 15px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Comic Sans MS', sans-serif;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 50);
}

@media screen and (max-width: 600px) {
  header, footer {
    padding: 5px;
  }

  main {
    padding: 10px;
  }

  button {
    margin: 10px;
    padding: 8px 12px;
    font-size: 14px;
  }
}
